<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>Filters.AuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthorizationEdit</filter-name>
        <filter-class>Filters.AuthorizationEdit</filter-class>
    </filter>
    <filter>
        <filter-name>DeleteFilter</filter-name>
        <filter-class>Filters.DeleteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DeleteFilter</filter-name>
        <url-pattern>/ActivoDel</url-pattern>
        <url-pattern>/ClienteDel</url-pattern>
        <url-pattern>/RemitoDel</url-pattern>
        <url-pattern>/ContratoDel</url-pattern>
        <url-pattern>/RubroDel</url-pattern>
        <url-pattern>/SububroDel</url-pattern>
        <url-pattern>/CertificadoDel</url-pattern>
        <url-pattern>/CompraDel</url-pattern>
        <url-pattern>/SiteDel</url-pattern>
        <url-pattern>/PreticketDel</url-pattern>
        <url-pattern>/ProveedorDel</url-pattern>
        <url-pattern>/UsuarioDel</url-pattern>
        <url-pattern>/CorrectivoDel</url-pattern>
        <url-pattern>/KitDel</url-pattern>
        <url-pattern>/TransportistaDel</url-pattern>
        <url-pattern>/PozoDel</url-pattern>
        <url-pattern>/EquipoDel</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorizationEdit</filter-name>
        <url-pattern>/ActivoEdit</url-pattern>
        <url-pattern>/ClienteEdit</url-pattern>
        <url-pattern>/RemitoAlta</url-pattern>
        <url-pattern>/ContratoEdit</url-pattern>
        <url-pattern>/RubroEdit</url-pattern>
        <url-pattern>/SububroEdit</url-pattern>
        <url-pattern>/CertificadoEdit</url-pattern>
        <url-pattern>/CompraEdit</url-pattern>
        <url-pattern>/SiteEdit</url-pattern>
        <url-pattern>/PreticketCreate</url-pattern>
        <url-pattern>/ProveedorEdit</url-pattern>
        <url-pattern>/UsuarioEdit</url-pattern>
        <url-pattern>/CorrectivoEdit</url-pattern>
        <url-pattern>/KitEdit</url-pattern>
        <url-pattern>/TransportistaEdit</url-pattern>
        <url-pattern>/PozoEdit</url-pattern>
        <url-pattern>/EquipoEdit</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/index.jsp</url-pattern>
        <url-pattern>/</url-pattern>
        <url-pattern>/Usuario</url-pattern>
        <url-pattern>/UsuarioList</url-pattern>
        <url-pattern>/UsuarioEdit</url-pattern>
        <url-pattern>/UsuarioDel</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>CategoriaServlet</servlet-name>
        <servlet-class>Categoria.CategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoriaList</servlet-name>
        <servlet-class>Categoria.CategoriaList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoriaEdit</servlet-name>
        <servlet-class>Categoria.CategoriaEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoriaDel</servlet-name>
        <servlet-class>Categoria.CategoriaDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelegacionServlet</servlet-name>
        <servlet-class>Delegacion.DelegacionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelegacionList</servlet-name>
        <servlet-class>Delegacion.DelegacionList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelegacionEdit</servlet-name>
        <servlet-class>Delegacion.DelegacionEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelegacionDel</servlet-name>
        <servlet-class>Delegacion.DelegacionDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SedeServlet</servlet-name>
        <servlet-class>Sede.SedeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SedeList</servlet-name>
        <servlet-class>Sede.SedeList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SedeEdit</servlet-name>
        <servlet-class>Sede.SedeEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SedeDel</servlet-name>
        <servlet-class>Sede.SedeDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PruebaServlet</servlet-name>
        <servlet-class>Prueba.PruebaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PruebaList</servlet-name>
        <servlet-class>Prueba.PruebaList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PruebaEdit</servlet-name>
        <servlet-class>Prueba.PruebaEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PruebaDel</servlet-name>
        <servlet-class>Prueba.PruebaDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Usuario.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Usuario.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>Usuario.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioList</servlet-name>
        <servlet-class>Usuario.UsuarioList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioEdit</servlet-name>
        <servlet-class>Usuario.UsuarioEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioDel</servlet-name>
        <servlet-class>Usuario.UsuarioDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParametroServlet</servlet-name>
        <servlet-class>Parametro.ParametroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParametroList</servlet-name>
        <servlet-class>Parametro.ParametroList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParametroEdit</servlet-name>
        <servlet-class>Parametro.ParametroEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParametroDel</servlet-name>
        <servlet-class>Parametro.ParametroDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeporteServlet</servlet-name>
        <servlet-class>Deporte.DeporteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeporteList</servlet-name>
        <servlet-class>Deporte.DeporteList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeporteEdit</servlet-name>
        <servlet-class>Deporte.DeporteEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeporteDel</servlet-name>
        <servlet-class>Deporte.DeporteDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipoServlet</servlet-name>
        <servlet-class>Equipo.EquipoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipoList</servlet-name>
        <servlet-class>Equipo.EquipoList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipoEdit</servlet-name>
        <servlet-class>Equipo.EquipoEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipoDel</servlet-name>
        <servlet-class>Equipo.EquipoDel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoriaServlet</servlet-name>
        <url-pattern>/Categoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriaList</servlet-name>
        <url-pattern>/CategoriaList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriaEdit</servlet-name>
        <url-pattern>/CategoriaEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriaDel</servlet-name>
        <url-pattern>/CategoriaDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelegacionServlet</servlet-name>
        <url-pattern>/Delegacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelegacionList</servlet-name>
        <url-pattern>/DelegacionList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelegacionEdit</servlet-name>
        <url-pattern>/DelegacionEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelegacionDel</servlet-name>
        <url-pattern>/DelegacionDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SedeServlet</servlet-name>
        <url-pattern>/Sede</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SedeList</servlet-name>
        <url-pattern>/SedeList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SedeEdit</servlet-name>
        <url-pattern>/SedeEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SedeDel</servlet-name>
        <url-pattern>/SedeDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PruebaServlet</servlet-name>
        <url-pattern>/Prueba</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PruebaList</servlet-name>
        <url-pattern>/PruebaList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PruebaEdit</servlet-name>
        <url-pattern>/PruebaEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PruebaDel</servlet-name>
        <url-pattern>/PruebaDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioList</servlet-name>
        <url-pattern>/UsuarioList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioEdit</servlet-name>
        <url-pattern>/UsuarioEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioDel</servlet-name>
        <url-pattern>/UsuarioDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParametroServlet</servlet-name>
        <url-pattern>/Parametro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParametroList</servlet-name>
        <url-pattern>/ParametroList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParametroEdit</servlet-name>
        <url-pattern>/ParametroEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParametroDel</servlet-name>
        <url-pattern>/ParametroDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeporteServlet</servlet-name>
        <url-pattern>/Deporte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeporteList</servlet-name>
        <url-pattern>/DeporteList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeporteEdit</servlet-name>
        <url-pattern>/DeporteEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeporteDel</servlet-name>
        <url-pattern>/DeporteDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipoServlet</servlet-name>
        <url-pattern>/Equipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipoList</servlet-name>
        <url-pattern>/EquipoList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipoEdit</servlet-name>
        <url-pattern>/EquipoEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipoDel</servlet-name>
        <url-pattern>/EquipoDel</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
